---
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.tsx";
import Hero from "../sections/Hero.tsx";
import PrevImage from "../sections/PrevImage.tsx";
---

<Layout title="#CMFest24 || The festival for community managers.">
  <main class="overflow-x-hidden relative">
    <Header client:load />
    <Hero />
    <PrevImage client:load />
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
