---
import Layout from "../layouts/Layout.astro";
import Hero from "../sections/Hero.tsx";
// import PrevEventImages from "../sections/PrevEventImages.astro";
---

<Layout title="#CMFest24 - The festival for community managers.">
  <main class="overflow-x-hidden relative">
    <Hero />
    <!-- <PrevEventImages client:load /> -->
  </main>
</Layout>

<style>
  main {
    margin: auto;
  }
</style>
