---
import { Image } from "astro:assets";
import ArrowUp from "../images/arrow_right.svg";
import Button from "../components/Button";
---

<section class="bg-bg-primary h-[calc(100vh-100px)] flex items-center justify-center mt-40 py-20 relative">
  <div
    class="flex flex-col py-10 w-full mx-auto max-w-7xl px-3 sm:px-6 md:px-10"
  >
    <h2 class="text-3xl font-semibold tracking-tighter text-white">
      How to get involved
    </h2>
    <div class="grid grid-cols-1 gap-10 py-6 w-full mt-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6 relative">
        <!-- Attend Card -->
        <div class="relative bg-white z-10 rounded-xl pt-6 h-48">
          <div
            class="absolute bg-azure flex items-center justify-between rounded-xl bottom-1 left-1 -right-2 -top-3 z-20"
          >
            <div class="p-8 pb-0 flex-1 align-bottom -mb-4">
              <h3 class="text-2xl font-semibold text-bg-primary">Attend</h3>
              <p class="text-bg-primary mt-2">
                Register now to join us at CMFEST 2024 in Lagos, Nigeria or
                online.
              </p>
            </div>
            <div class="flex items-center border-l-[1px] border-bg-primary/50 divide-x-[1px] divide-bg-primary/50 h-full max-h-full">
              <div class="h-full bg-transparent w-16 flex flex-col items-center justify-between py-6 font-semibold">
                <Image src={ArrowUp} alt="arrow-up" />
                <p class="-rotate-90 whitespace-nowrap">Online</p>
              </div>
              <div class="h-full bg-transparent w-16 rounded-r-xl flex flex-col items-center justify-between py-8 -mt-3 font-semibold">
                <Image src={ArrowUp} alt="arrow-up" />
                <p class="-rotate-90 whitespace-nowrap">In-Person</p>
              </div>
            </div>
          </div>
        </div>

        <!-- Speak Card -->
        <div class="relative bg-white z-10 rounded-xl pt-6 h-48">
          <div
            class="absolute bg-bittersweet flex items-end rounded-xl bottom-1 left-1 -right-2 -top-3 z-20 p-8"
          >
            <div class="flex flex-col justify-between w-full">
              <div>
                <h3 class="text-2xl font-semibold text-text-secondary">Speak</h3>
                <p class="text-text-secondary mt-2">
                  The Community Managers Festival will bring together speakers...
                </p>
              </div>
              <Button
                body="Apply"
                icon="/arrow_right_up.svg"
                className="bg-transparent text-text-secondary font-semibold absolute top-4 right-4"
              />
            </div>
          </div>
        </div>
      </div>

      <!-- Sponsor Card -->
      <div class="relative bg-white z-10 rounded-xl pt-6 h-[310px] sm:h-56 md:h-48">
        <div
          class="absolute bg-turquoiseLight flex flex-col rounded-xl bottom-1 left-1 -right-2 -top-3 z-20 pt-8 px-8 pb-4 h-fit md:h-48"
        >
          <div class="flex flex-col justify-between w-full pt-6">
            <h3 class="text-2xl font-semibold text-text-secondary">Sponsor</h3>
            <div class="flex flex-col md:flex-row justify-between items-start md:items-end mt-2">
              <p class="text-text-secondary mt-2 max-w-lg md:max-w-2xl pr-3">
                Amplify your brand's presence within the African Community
                Managers Community by positioning your brand name in front of a
                significant audience of more than 3,000 registrants.
              </p>
              <Button
                body="See Sponsorship Packages"
                icon="/arrow_right_up.svg"
                className="bg-goldenrod text-text-secondary font-semibold px-5 py-4 rounded-md border-[1px] border-bg-primary whitespace-nowrap mt-6 md:mt-0"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="absolute top-0 left-0 w-full h-full pointer-events-none">
    <img
      src="/star1.svg"
      class="absolute w-6 h-6 top-20 left-20 animate-pulse"
      alt="Star 1"
    />
    <img
      src="/star2.svg"
      class="absolute w-10 h-10 top-60 left-10"
      alt="Star 2"
    />
    <img
      src="/star3.svg"
      class="absolute w-10 h-10 top-96 right-10"
      alt="Star 3"
    />
  </div>
</section>
